In [1]:
'''
Author :K venkata charan 
Phone :7382777766
Email:kvenkatcharan@gmail.com

'''

In [ ]:


import pandas as pd
import numpy as np
import sys
sys.path.append('../')
import os

In [118]:
train=pd.read_csv('res/Titanic_train.csv')

In [40]:
train.loc[train['Embarked']=='S',]['Survived'].value_counts()[1]

0    377
1    186
Name: Survived, dtype: int64

In [34]:
train.groupby(['Sex','Survived']).count()

                 Unnamed: 0  PassengerId  Pclass  Name  Age  SibSp  Parch  \
Sex    Survived
female 0                 68           68      68    68   57     68     68
       1                194          194     194   194  164    194    194
male   0                423          423     423   423  325    423    423
       1                 96           96      96    96   82     96     96

                 Ticket  Fare  Cabin  Embarked
Sex    Survived
female 0             68    68      4        68
       1            194   194     78       192
male   0            423   423     55       423
       1             96    96     38        96

In [107]:
train.Age.isnull().sum()

153

In [56]:
sum(list(train.loc[pd.isna(train["Age"]),  ].index))

63430

In [59]:
train.loc[pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]

     Pclass  Survived     Sex
7         3         0    male
15        3         0    male
33        3         0    male
37        3         1  female
58        3         0    male
..      ...       ...     ...
763       3         0    male
767       3         0  female
768       3         1  female
772       3         0    male
774       1         1  female

[153 rows x 3 columns]

In [70]:
train['Sex']=train['Sex'].map({'male':1,'female':0})
df1=train.loc[pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
df2=train.loc[~pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
df2_Age=train.loc[~pd.isna(train["Age"]),  ['Age']]

In [71]:
df2.head()

   Pclass  Survived  Sex
0       1         0    1
1       2         0    1
2       3         1    1
3       3         1    0
4       1         1    1

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

In [72]:
lin_model=LinearRegression()
lin_model.fit(df2,df2_Age)
df1_age=lin_model.predict(df1)

In [79]:
df1_age=lin_model.predict(df1).astype(int)
int(np.round(np.mean(df1_age),0))

In [84]:
lin_model=LinearRegression()
lin_model.fit(df2,df2_Age)
df1_age=lin_model.predict(df1)
df2['Age']=df2_Age
df1['Age']=df1_age
train1=pd.concat([df1,df2])

In [103]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
train['Sex']=le.fit_transform(train['Sex'])

In [104]:
train.loc[train["Age"]>= 18, 'AdultOrChild']='Adult'
train.loc[train["Age"]< 18, 'AdultOrChild']='Child'

In [105]:
train.groupby(['AdultOrChild','Survived']).count()

                       Unnamed: 0  PassengerId  Pclass  Name  Sex  Age  SibSp  \
AdultOrChild Survived
Adult        0                336          336     336   336  336  336    336
             1                197          197     197   197  197  197    197
Child        0                 46           46      46    46   46   46     46
             1                 49           49      49    49   49   49     49

                       Parch  Ticket  Fare  Cabin  Embarked
AdultOrChild Survived
Adult        0           336     336   336     50       336
             1           197     197   197     92       195
Child        0            46      46    46      1        46
             1            49      49    49     15        49

In [106]:
sum(list(train.loc[train['Survived']==1,]['AdultOrChild'].value_counts()))

246

In [110]:
train.AdultOrChild.isnull().sum()

153

In [ ]:
import pandas as pd
import sys
sys.path.append('../')

def solution():
    #reading from the file Titanic_train.csv
    train=pd.read_csv('res/Titanic_train.csv')
    p3count=train.groupby(['Pclass'])['Survived'].sum()[3]
    male_died=train.loc[train['Sex']=='male',]['Survived'].value_counts()[0]
    ebark_surv=train.loc[train['Embarked']=='S',]['Survived'].value_counts()[1]
    result=[p3count, male_died, ebark_surv]
    result=pd.DataFrame(result)
    # writing output to output.csv
    result.to_csv('output/output.csv', header=False, index=False)

#2

In [ ]:
import pandas as pd
import numpy as np
import sys
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
sys.path.append('../')

def solution():
    #reading from the file Titanic_train.csv
    train=pd.read_csv('res/Titanic_train.csv')
    # Creating a list of the answer
    miss_count=train.Age.isnull().sum()
    sum_index=sum(list(train.loc[pd.isna(train["Age"]),  ].index))
    train['Sex']=train['Sex'].map({'male':1,'female':0})
    df1=train.loc[pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
    df2=train.loc[~pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
    df2_Age=train.loc[~pd.isna(train["Age"]),  ['Age']]
    lin_model=LinearRegression()
    lin_model.fit(df2,df2_Age)
    df1_age=lin_model.predict(df1).astype(int)
    pred_mean=int(np.round(np.mean(df1_age),0))
    result=[miss_count, sum_index, pred_mean]
    result=pd.DataFrame(result)
    # writing output to output.csv
    result.to_csv('output/output.csv', header=False, index=False)

In [169]:
train=pd.read_csv('res/Titanic_train.csv')
test=pd.read_csv('res/Titanic_test.csv')

In [172]:

le=LabelEncoder()
train.loc[:,'Sex']=le.fit_transform(train['Sex'])
le1=LabelEncoder()
test.loc[:,'Sex']=le1.fit_transform(test['Sex'])
df1=train.loc[pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
df2=train.loc[~pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
df2_Age=train.loc[~pd.isna(train["Age"]),  ['Age']]
lin_model=LinearRegression()
lin_model.fit(df2,df2_Age)
df1_age=lin_model.predict(df1)
test.loc[pd.isna(test["Age"]),  ['Age']]=lin_model.predict(test.loc[pd.isna(test["Age"]),  ['Pclass','Survived','Sex']])
df2['Age']=df2_Age
df1['Age']=df1_age
train=pd.concat([df1,df2])
train.loc[train["Age"]>= 18, 'AdultOrChild']='Adult'
train.loc[train["Age"]< 18, 'AdultOrChild']='Child'
survRel=sum(list(train.loc[train['Survived']==1,]['AdultOrChild'].value_counts()))
X_train=train[['Pclass','Age','Sex']]
X_test=test[['Pclass','Age','Sex']]
y_train=train['Survived']
y_test=test['Survived']
log_model=LogisticRegression()
log_model.fit(X_train,y_train)
y_pred=log_model.predict(X_test)
con_sum=sum(sum(list(confusion_matrix(y_test,y_pred))))
Acc=round(accuracy_score(y_test,y_pred)*100,2)

In [185]:
Acc=round(accuracy_score(y_test,y_pred)*100,2)

In [187]:
Acc

76.36

[array([46, 12]), array([14, 38])]

In [184]:
from sklearn.metrics import confusion_matrix,accuracy_score

#3

In [ ]:
import pandas as pd
import numpy as np
import sys
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix,accuracy_score
sys.path.append('../')

def solution():
    le=LabelEncoder()
    train.loc[:,'Sex']=le.fit_transform(train['Sex'])
    le1=LabelEncoder()
    test.loc[:,'Sex']=le1.fit_transform(test['Sex'])
    df1=train.loc[pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
    df2=train.loc[~pd.isna(train["Age"]),  ['Pclass','Survived','Sex']]
    df2_Age=train.loc[~pd.isna(train["Age"]),  ['Age']]
    lin_model=LinearRegression()
    lin_model.fit(df2,df2_Age)
    df1_age=lin_model.predict(df1)
    test.loc[pd.isna(test["Age"]),  ['Age']]=lin_model.predict(test.loc[pd.isna(test["Age"]),  ['Pclass','Survived','Sex']])
    df2['Age']=df2_Age
    df1['Age']=df1_age
    train=pd.concat([df1,df2])
    train.loc[train["Age"]>= 18, 'AdultOrChild']='Adult'
    train.loc[train["Age"]< 18, 'AdultOrChild']='Child'
    survRel=sum(list(train.loc[train['Survived']==1,]['AdultOrChild'].value_counts()))
    X_train=train[['Pclass','Age','Sex']]
    X_test=test[['Pclass','Age','Sex']]
    y_train=train['Survived']
    y_test=test['Survived']
    log_model=LogisticRegression()
    log_model.fit(X_train,y_train)
    y_pred=log_model.predict(X_test)
    con_sum=sum(sum(list(confusion_matrix(y_test,y_pred))))
    Acc=round(accuracy_score(y_test,y_pred)*100,2)
    result=[survRel, sum_index, pred_mean]
    result=pd.DataFrame(result)
    # writing output to output.csv
    result.to_csv('output/output.csv', header=False, index=False)